<section>
<h1>To do tasks</h1>
    <mat-card class="tasks" *ngFor="let task of tasksList">
        <mat-card-title>
            <h3>{{task.title}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
            {{task.description}}
        </mat-card-subtitle>
            
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="done(task)">Done!</button>
            <button mat-flat-button color="warn" (click)="delete(task)">Delete</button>
        </mat-card-actions>
    </mat-card>

</section>